{% extends "main/base.html" %}

{% block title %}Device detail{% endblock %}

{% block content %}
    <h3>{{ device.name }}</h3>

    <div class="row">
        <div class="col s12 s8 m8">
            <div class="card green darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Device values</span>
                    <p>

                    </p>
                </div>
            </div>
        </div>

        {% include 'main/device_detail_status_card.html' %}
    </div>


    {% include "main/data_table.html" with rows=values %}

    {% load static %}
    <script type="text/javascript" src="{% static 'main/js/updateDeviceStatus.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(updateDeviceStatus("{% url 'main:telemetry_api' device.id %}"))
    </script>
{% endblock %}