{% extends "main/base.html" %}

{% block title %}Device detail{% endblock %}

{% block content %}
    <h3>{{ device.name }}</h3>

    <div class="row">
        {% include 'main/device_detail_values_card.html' with actual_values=actual_values %}
        {% include 'main/device_detail_status_card.html' %}
    </div>


    {% include "main/data_table.html" with rows=values %}

    {% load static %}
    <script type="text/javascript" src="{% static 'main/js/updateDeviceStatus.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/updateDeviceValues.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            updateDeviceStatus("{% url 'main:telemetry_api' device.id %}", {{ device_status_interval }});
            updateDeviceValues("{% url 'main:device_actual_values_api' device.id %}", {{ device_values_interval }});
        });
    </script>
{% endblock %}