<!-- Modal Structure -->
<div id="modal-{{ id }}" class="modal">
    <div class="modal-content">
        <h5>Verify device {{ id }}</h5>
        <br>
        <p>
        <form class="col s3" action="{% url 'main:verify_device' id %}" method="post" id="form-{{ id }}">
            {% csrf_token %}
            <div class="input-field col s1">
                <input value="{{ name }}" id="device-name" name="device-name" type="text" class="validate">
                <label for="device-name">Device name</label>
            </div>
            <input id="input-{{ id }}" type="hidden" name="remove-device" value="false">
        </form>
        </p>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat " onclick="$('#form-{{ id }}').submit();">
            <i class="material-icons right">done</i>
            Add device
        </a>
        <a class="modal-action modal-close waves-effect waves-red btn-flat " onclick="removeDevice({{ id }})">
{#            $('#form-{{ id }})[name=\x22remove-device\x22]').val('true');#}
            <i class="material-icons right">clear</i>
            Ignore
        </a>
    </div>

</div>
